<button type="button" (click)="back()" class="button">back</button>
<div class="c-loader" *ngIf="!ability && !pokemon"></div>
<div *ngIf="ability && pokemon">
  <div class="ability-details">
    <ol>
      <li *ngFor="let pok of ability">Ability: {{ pok.ability.name}}</li>
    </ol>
    <div class="poke">
      <img [src]="pokemon.back_default" alt="imagens">
      <img [src]="pokemon.front_default" alt="imagens">
      <img [src]="pokemon.back_shiny" alt="imagens">
      <img [src]="pokemon.front_shiny" alt="imagens">
    </div>
  </div>
</div>