

.button{
  display: flex;
  margin: auto;
  width: 100px;
  text-align: center;
  padding: 20px 35px;
  background-color: chartreuse;
  cursor: pointer;
  border:none!important;
  margin-top: 10px;
  border-radius: 8px;
}

.ability-details{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(175, 243, 67);
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
  background-color: yellow;
  
}

li{
  list-style: none;
  background-color: yellow;
  font-size: x-large;
}
img, .poke{
  background-color: yellow;
}
ol{
  margin-bottom: 25px;
}

.c-loader {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 450px;
  width: 450px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 450px) {
  .ability-details{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 400px;
  }
  .c-loader{
    height: 200px;
    width: 200px;
  }
}