
.container{
  display: flex;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.c-loader {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 450px;
  width: 450px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@media  screen and (max-width:450px) {
  .c-loader{
    height: 200px;
    width: 200px;
  }
}
