.pokemon{
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  margin-left: 3%;
  margin-top: 10px;
  
}
.header-button{
  display: flex;
  background-color: rgb(255, 60, 0);
}

.pok-name{
  background-color: rgb(34, 248, 52);
  cursor: pointer;
  border:none!important;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.pokedex{
  display: flex;
  margin: auto;
  border-radius: 8px;
}

.button{
  display: flex;
  width: 100px;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 40px;
  padding: 15px;
  border:none!important;
  border-radius: 5px;
}
.pokeImage{
  width: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button:hover{
  background-color: rgb(136, 119, 113);
  cursor: pointer;
}

.header{
  display: flex;
  text-align: center;
  justify-content: space-around;
  
  background-color: rgb(255, 60, 0);
}

.embed_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 160px;
  list-style-type: none;
  padding: 0;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  /* background-color: rgb(227, 248, 34); */
}
.normal {
  background-color: #a6a877;
}
.normal li{
  background-color: #a6a877;
}
.normal li > img{
  background-color: #a6a877;
}


.grass {
  background-color: #77c850;
}
.grass li {
  background-color: #77c850;
}
.grass li > img {
  background-color: #77c850;
}


.fire {
  background-color: #ee7f30;
}
.fire li {
  background-color: #ee7f30;
}
.fire li > img {
  background-color: #ee7f30;
}


.water {
  background-color: #678fee;
}

.water li {
  background-color: #678fee;
}
.water li > img {
  background-color: #678fee;
}



.electric {
  background-color: #f7cf2e;
}
.electric li{
  background-color: #f7cf2e;
}
.electric li > img{
  background-color: #f7cf2e;
}


.ice {
  background-color: #98d5d7;
}
.ice li{
  background-color: #98d5d7;
}
.ice li > img{
  background-color: #98d5d7;
}


.ground {
  background-color: #dfbf69;
}
.ground li{
  background-color: #dfbf69;
}
.ground li > img{
  background-color: #dfbf69;
}



.flying {
  background-color: #a98ff0;
}
.flying li{
  background-color: #a98ff0;
}
.flying li > img{
  background-color: #a98ff0;
}



.poison {
  background-color: #a040a0;
}
.poison li{
  background-color: #a040a0;
}
.poison li > img{
  background-color: #a040a0;
}


.fighting {
  background-color: #bf3029;
}
.fighting li{
  background-color: #bf3029;
}
.fighting li > img{
  background-color: #bf3029;
}



.psychic {
  background-color: #f65687;
}
.psychic li{
  background-color: #f65687;
}
.psychic li > img{
  background-color: #f65687;
}



.dark {
  background-color: #725847;
}
.dark li{
  background-color: #725847;
}
.dark li > img{
  background-color: #725847;
}



.rock {
  background-color: #b8a137;
}
.rock li{
  background-color: #b8a137;
}
.rock li > img{
  background-color: #b8a137;
}

.bug, .bug li, .bug li > img{
  background-color: #a8b720;
}

.ghost, .ghost li, .ghost li > img{
  background-color: #6e5896;
}

.steel, .steel li, .steel li > img{
  background-color: #b9b7cf;
}

.dragon, .dragon li, .dragon li > img{
  background-color: #6f38f6;
}

.fairy, .fairy li, .fairy li > img {
  background-color: #f9aec7;
}


/* Estilos para cada item da lista */
.embed_list li {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  /* background-color: rgb(227, 248, 34); */
}

/* Estilos adicionais para dispositivos móveis (opcional) */
@media screen and (max-width: 768px) {
  .header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .header-button{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
  }
  .button{
    margin-left: 0;
  }
  .pokeImage{
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px){
  .header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .header-button{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .pokeImage{
    margin: 0 auto;
  }
}