<app-renderiza *ngIf="renderiza"></app-renderiza>
<div *ngIf="!renderiza">
  <div class="header">
    <img [src]="pokeUrl" alt="pokeImage" class="pokeImage">
    <div class="header-button">
      <button type="button" (click)="previousNext()" class="button">PREVIOUS</button>
      <button type="button" (click)="addNext()" class="button">NEXT</button>
    </div>
  </div>
  <app-carregando *ngIf="!pokemonAbility.length"></app-carregando>
  <div class="pokemon" *ngIf="pokemonAbility.length">
    <ol *ngFor="let pok of pokemonAbility" class='embed_list'>
      <button type="button" (click)="getText(pok.name)" class="pok-name"><strong>{{pok.name}}</strong></button>
      <li><img src={{pok.front_default}} alt="imagens"></li>
      <li><img src={{pok.back_default}} alt="imagens"></li>
    </ol>
  </div>
  <img src="https://archives.bulbagarden.net/media/upload/4/4b/Pok%C3%A9dex_logo.png" alt="imagem" class="pokedex">
</div>
